<!DOCTYPE html>
{% load static %}
<html lang="en"><head><script defer src="/static/1fdbf37c7e1408e65930.vendors-node_modules_axios_index_js-node_modules_react-bootstrap_esm_Alert_js-node_modules_re-939c44.js"></script><script defer src="/static/1fdbf37c7e1408e65930.main.js"></script></head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<body>
    <div id="root">

    </div>
</body>
</html>